
/*
     FILE ARCHIVED ON 11:27:23 Aug 26, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:37:12 Dec 26, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.708
  exclusion.robots: 0.042
  exclusion.robots.policy: 0.027
  esindex: 0.013
  cdx.remote: 113.105
  LoadShardBlock: 302.738 (3)
  PetaboxLoader3.datanode: 209.249 (4)
  load_resource: 201.836
  PetaboxLoader3.resolve: 55.611
*/